<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Belongs to Research Groups:</strong>
  	<ul>
		<% @employee.research_groups.each do |group| %>
			<li><%= link_to group, group %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_employee_path(@employee), class: "btn" %>
<%= link_to 'Back', employees_path, class: "btn" %>
