<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Employees:</strong>
  <ul>
		<% @room.employees.each do |e| %>
			<li><%= link_to e.firstname, e %></li>
		<% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_room_path(@room), class: "btn" %>
<%= link_to 'Back', rooms_path, class: "btn" %>
