<!DOCTYPE html>
<html>
<head>
  <title>Hrmsystem</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navi">
		<%= link_to 'List Rooms', rooms_path %>
		<%= link_to 'List Employees', employees_path %>
		<%= link_to 'List Departments', departments_path %>
	</div>

<%= yield %>

</body>
</html>
